In [147]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re

In [148]:
response = requests.get('https://www.goodreads.com/list/show/6934.Science_Fiction_Books_by_Female_Authors')
doc = BeautifulSoup(response.text)

In [149]:
books = doc.find_all('tr')

In [150]:
# books

In [151]:
rows=[]
for page_num in range(1,15):
    url = f'https://www.goodreads.com/list/show/6934.Science_Fiction_Books_by_Female_Authors?page={page_num}'
    print("Now scraping", url)
    response = requests.get(url)
    doc = BeautifulSoup(response.text)
    for book in books:
        row = {}
        row['title'] = book.find('span').text.strip()
        row['rank'] = book.find(class_='number').text.strip()
        row['author'] = book.find_all('span')[2].text.strip()
        row['score'] = book.find(class_ = 'smallText uitext').find('a').text.strip()
        row['vote'] = book.find(class_ = 'smallText uitext').find_all('a')[1].text.strip()
        row['rating'] = book.find(class_ = 'minirating').text.strip()
        rows.append(row)
df = pd.DataFrame(rows)
df = df[['title', 'author', 'score','vote','rating','rank' ]]
df.head()

Now scraping https://www.goodreads.com/list/show/6934.Science_Fiction_Books_by_Female_Authors?page=1
Now scraping https://www.goodreads.com/list/show/6934.Science_Fiction_Books_by_Female_Authors?page=2
Now scraping https://www.goodreads.com/list/show/6934.Science_Fiction_Books_by_Female_Authors?page=3
Now scraping https://www.goodreads.com/list/show/6934.Science_Fiction_Books_by_Female_Authors?page=4
Now scraping https://www.goodreads.com/list/show/6934.Science_Fiction_Books_by_Female_Authors?page=5
Now scraping https://www.goodreads.com/list/show/6934.Science_Fiction_Books_by_Female_Authors?page=6
Now scraping https://www.goodreads.com/list/show/6934.Science_Fiction_Books_by_Female_Authors?page=7
Now scraping https://www.goodreads.com/list/show/6934.Science_Fiction_Books_by_Female_Authors?page=8
Now scraping https://www.goodreads.com/list/show/6934.Science_Fiction_Books_by_Female_Authors?page=9
Now scraping https://www.goodreads.com/list/show/6934.Science_Fiction_Books_by_Female_Authors?page=10
Now scraping https://www.goodreads.com/list/show/6934.Science_Fiction_Books_by_Female_Authors?page=11
Now scraping https://www.goodreads.com/list/show/6934.Science_Fiction_Books_by_Female_Authors?page=12
Now scraping https://www.goodreads.com/list/show/6934.Science_Fiction_Books_by_Female_Authors?page=13
Now scraping https://www.goodreads.com/list/show/6934.Science_Fiction_Books_by_Female_Authors?page=14

,title,author,score,vote,rating,rank
0,The Handmaid's Tale,Margaret Atwood (Goodreads Author),"score: 30,733",314 people voted,"4.09 avg rating — 1,102,749 ratings",1
1,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"score: 28,553",292 people voted,"4.33 avg rating — 5,742,283 ratings",2
2,Frankenstein,Mary Wollstonecraft Shelley,"score: 21,909",224 people voted,"3.78 avg rating — 1,023,563 ratings",3
3,"A Wrinkle in Time (Time Quintet, #1)",Madeleine L'Engle,"score: 18,720",196 people voted,"4.01 avg rating — 903,541 ratings",4
4,The Left Hand of Darkness (Hainish Cycle #4),Ursula K. Le Guin,"score: 17,920",184 people voted,"4.06 avg rating — 98,810 ratings",5

In [152]:
df.shape

(1400, 6)

In [153]:
df['score']= df.score.str.replace('score:', '')

In [154]:
df.head()

,title,author,score,vote,rating,rank
0,The Handmaid's Tale,Margaret Atwood (Goodreads Author),"30,733",314 people voted,"4.09 avg rating — 1,102,749 ratings",1
1,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"28,553",292 people voted,"4.33 avg rating — 5,742,283 ratings",2
2,Frankenstein,Mary Wollstonecraft Shelley,"21,909",224 people voted,"3.78 avg rating — 1,023,563 ratings",3
3,"A Wrinkle in Time (Time Quintet, #1)",Madeleine L'Engle,"18,720",196 people voted,"4.01 avg rating — 903,541 ratings",4
4,The Left Hand of Darkness (Hainish Cycle #4),Ursula K. Le Guin,"17,920",184 people voted,"4.06 avg rating — 98,810 ratings",5

In [155]:
rating_ch = []
for rate in df.rating:
    ratingc = rate.split(' ')[0]
    rating_ch.append(ratingc)

In [156]:
df['rating'] = rating_ch

In [157]:
df.head()

,title,author,score,vote,rating,rank
0,The Handmaid's Tale,Margaret Atwood (Goodreads Author),"30,733",314 people voted,4.09,1
1,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"28,553",292 people voted,4.33,2
2,Frankenstein,Mary Wollstonecraft Shelley,"21,909",224 people voted,3.78,3
3,"A Wrinkle in Time (Time Quintet, #1)",Madeleine L'Engle,"18,720",196 people voted,4.01,4
4,The Left Hand of Darkness (Hainish Cycle #4),Ursula K. Le Guin,"17,920",184 people voted,4.06,5

In [158]:
# series_ch = []
# for series in df.title:
#     seriesc = series.split('(')
#     series_ch.append(seriesc)

In [159]:
# df['title'] = series_ch

In [160]:
s_n=[]
for t in df.title:
    if "(" in t:
        sn_cleaned=t.split('(')[1]
        s_n.append(sn_cleaned)
    else:
        s_n.append('/')
df['s_n']=s_n

df.head()

,title,author,score,vote,rating,rank,s_n
0,The Handmaid's Tale,Margaret Atwood (Goodreads Author),"30,733",314 people voted,4.09,1,/
1,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"28,553",292 people voted,4.33,2,"The Hunger Games, #1)"
2,Frankenstein,Mary Wollstonecraft Shelley,"21,909",224 people voted,3.78,3,/
3,"A Wrinkle in Time (Time Quintet, #1)",Madeleine L'Engle,"18,720",196 people voted,4.01,4,"Time Quintet, #1)"
4,The Left Hand of Darkness (Hainish Cycle #4),Ursula K. Le Guin,"17,920",184 people voted,4.06,5,Hainish Cycle #4)

In [161]:
series_cleaned=[]
numbers_cleaned=[]
for s in df.s_n:
    if ')' in s:
        series=s.split('#')[0]
        numbers=s.split('#')[1]
        series_cleaned.append(series)
        numbers_cleaned.append(numbers)
    else:
        series_cleaned.append('/')
        numbers_cleaned.append('/')
df['series']=series_cleaned
df['series_number']=numbers_cleaned
df.head()

,title,author,score,vote,rating,rank,s_n,series,series_number
0,The Handmaid's Tale,Margaret Atwood (Goodreads Author),"30,733",314 people voted,4.09,1,/,/,/
1,"The Hunger Games (The Hunger Games, #1)",Suzanne Collins,"28,553",292 people voted,4.33,2,"The Hunger Games, #1)","The Hunger Games,",1)
2,Frankenstein,Mary Wollstonecraft Shelley,"21,909",224 people voted,3.78,3,/,/,/
3,"A Wrinkle in Time (Time Quintet, #1)",Madeleine L'Engle,"18,720",196 people voted,4.01,4,"Time Quintet, #1)","Time Quintet,",1)
4,The Left Hand of Darkness (Hainish Cycle #4),Ursula K. Le Guin,"17,920",184 people voted,4.06,5,Hainish Cycle #4),Hainish Cycle,4)

In [162]:
# title = []
# for tit in df.title:
#     if '(' in tit:
#         title_clean = tit.split('(')[0]
#         title.append(title_clean)
#     else:
#         title.append(df.title)
# df['title'] = title

In [163]:
title_cleaned=[]
for t in df.title:
    t_cleaned=t.split('(')[0]
    title_cleaned.append(t_cleaned)

df['title']=title_cleaned

In [165]:
series_num = []
for number in df.series_number:
    nc = number.replace(")", "")
    series_num.append(nc)
df.series_number = series_num
df.head()

,title,author,score,vote,rating,rank,s_n,series,series_number
0,The Handmaid's Tale,Margaret Atwood (Goodreads Author),"30,733",314 people voted,4.09,1,/,/,/
1,The Hunger Games,Suzanne Collins,"28,553",292 people voted,4.33,2,"The Hunger Games, #1)","The Hunger Games,",1
2,Frankenstein,Mary Wollstonecraft Shelley,"21,909",224 people voted,3.78,3,/,/,/
3,A Wrinkle in Time,Madeleine L'Engle,"18,720",196 people voted,4.01,4,"Time Quintet, #1)","Time Quintet,",1
4,The Left Hand of Darkness,Ursula K. Le Guin,"17,920",184 people voted,4.06,5,Hainish Cycle #4),Hainish Cycle,4

In [166]:
df = df.drop(['s_n'], axis = 1)
df.head()

,title,author,score,vote,rating,rank,series,series_number
0,The Handmaid's Tale,Margaret Atwood (Goodreads Author),"30,733",314 people voted,4.09,1,/,/
1,The Hunger Games,Suzanne Collins,"28,553",292 people voted,4.33,2,"The Hunger Games,",1
2,Frankenstein,Mary Wollstonecraft Shelley,"21,909",224 people voted,3.78,3,/,/
3,A Wrinkle in Time,Madeleine L'Engle,"18,720",196 people voted,4.01,4,"Time Quintet,",1
4,The Left Hand of Darkness,Ursula K. Le Guin,"17,920",184 people voted,4.06,5,Hainish Cycle,4

In [141]:
number_of_voting = []
for vote in df.vote:
    voting_number = vote.replace(' people voted', '')
    number_of_voting.append(voting_number)
df.vote = number_of_voting

In [167]:
df['number of voting'] = df.vote
df = df.drop(['vote'], axis = 1)
df = df[['title', 'author', 'score','number of voting','rating','rank', 'series', 'series_number']]

In [168]:
df.head()

,title,author,score,number of voting,rating,rank,series,series_number
0,The Handmaid's Tale,Margaret Atwood (Goodreads Author),"30,733",314 people voted,4.09,1,/,/
1,The Hunger Games,Suzanne Collins,"28,553",292 people voted,4.33,2,"The Hunger Games,",1
2,Frankenstein,Mary Wollstonecraft Shelley,"21,909",224 people voted,3.78,3,/,/
3,A Wrinkle in Time,Madeleine L'Engle,"18,720",196 people voted,4.01,4,"Time Quintet,",1
4,The Left Hand of Darkness,Ursula K. Le Guin,"17,920",184 people voted,4.06,5,Hainish Cycle,4

In [169]:
df.to_csv('SCI_FI.csv', index = False)